# {{ ansible_managed }}
---
version: "3"

services:
  soundbot:
    container_name: soundbot
    image: markokajzer/discord-soundbot
    restart: on-failure:10
    environment:
      - CLIENT_ID=YOUR_CLIENT_ID
      - TOKEN=YOUR_TOKEN
    volumes:
      - /home/pi/discord-soundbot/sounds:/app/sounds
      - /home/pi/discord-soundbot/db.json:/app/db.json